/node_modules
/public/hot
/public/storage
/public/css/app.css
/public/js/app.js
/public/fonts
/storage/*.key
/storage/purify
/vendor
/.idea
.editorconfig
.env
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.DS_Store